/* You can add global styles to this file, and also import other style files */
html,body{
    margin: 0 !important;
}
:root {
    --themered: #e50914;
  }


html, body { height: 100%; }
body { margin: 0; font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
